body {
    background-image: url("../img/fondo.jpg");
    min-height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1%
}
.fondoForm{
   border-radius: 10px;
   margin-top: 2%;
   background-color:rgba(255,255,255, 0.9);
   padding: 3%;
}

.titulo{
	padding: 1%;
	text-align: center;
	width: 100%;
	font-size: 5vw;
	color: white;
}
strong{
	 text-shadow: 2px 2px #CCCCC1;
}
.cuadroCaptcha{ 
  border: 2px;
  font-size: 30px;
  color: #ccc;
  font-weight: bold;
  padding: .7%;
  text-align: center;
  height: 50px;
  width: 100%;
    background-image: url("../img/fondocaptcha.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}